*{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    background-color: rgba(229, 84, 115, 0.10);
    
}
.header-container{
    height: 850px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-text{
    padding: 50px 50px 50px 150px;
}
.header-heading{
    font-size: 80px;
}
.header-pera{
    font-size: 30px;
}
.all-btn{
    padding: 10px 15px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
}

.image{
    padding: 50px 150px 0px 100px;
}
.feature-text{
    /* height: 850px; */
    width: 700px;
    margin-left: 750px;
    /* margin: auto; */
    /* align-items: center; */
    text-align: center;
    margin-top: 150px;
}
.feature-heading{
    font-size: 40px;
}
.feature-body{
    font-size: 18px;
}
.frame1{
    background-color: rgba(167, 33, 98, 0.15);
    height: 538px;
    width: 464px;
    border-radius: 464px 464px 0px 0px;
}
.frame2{
    background-color: rgba(5, 151, 160, 0.15);
    height: 538px;
    width: 464px;
    border-radius: 464px 464px 0px 0px;
}
.frame3{
    background-color: rgba(71, 125, 17, 0.15);
       
    height: 538px;
    width: 464px;
    border-radius: 464px 464px 0px 0px;
}
.frame-image{
    height: 450px;
    width: 350px;
    padding: 88px 50px 0px 50px;
}
.frame-text{
    padding: 10px 10px 10px 70px;
    text-decoration: underline;
}
.feature-container{
    
}
.feature-pic{
    display: flex;
    width: 1922px;
    gap: 20px;
    margin-left: 250px;
}
.support{
    height: 220px;
    width: 1440px;
    display: flex;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
    text-align: center;
    margin-top: 150px;
}
.support-type1{
    margin-top: 50px;
}
.support-type2{
    margin-top: 50px;
}
.support-type3{
    margin-top: 50px;
}
.hot{
    height: 620px;
    width: 1920px;
    display: flex;
    margin-top: 20px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
    
}
.hot-text{
    text-align: center;
    margin-left: 350px;
    padding: 50px 50px 50px 50px;
}
.hot-text-heading{
    font-size: 40px;
}
.hot-text-body{
    font-size: 18px;
}
.hot-image{
    margin-right: 500px;
}
.text-color{
    color: #E55473;
}
.instagram-container{
    /* display: flex; */
}
.instagram-image{
    display: flex;
    gap: 20px;
}
.instagram{
    width: 1920px;
    justify-content: center;
    display: flex;
    margin-top: 150px;
}
.instagram-text{
    text-align: center;
}

.instagrm-heading{
    font-size: 40px;
}
.instagram-body{
    font-size: 18px;
}
.subscribe-form{
    display: flex;
}
.subscribe{
    width: 1440px;
    height: 450px;
    background-image: url(./images/Rectangle\ 9.png);
    margin-left: 240px;
}
.subscribe-all{
    width: 1440px;
    height: 450px;
    justify-content: center;
    align-items: center;
    padding: 100px 60px 100px 0px;
    margin-top: 150px;
    
}
.subscribe-text{
    text-align: center;
}
.subscribe-form{
    margin-left: 430px;
}
.subscribe-heading{
    font-size: 40px;
}
.subscribe-body{
    font-size: 18px;
}

.form-field{
    padding: 10px 180px;
}
.footer{
    background-color: #111010;
    /* width: 1920px; */
    height: 449px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.footer-text{
    text-align: center;
    color: white;
}
.footer-heading{
    font-size: 48px;
}
.footer-body{
    font-size: 18px;
}
.footer-copyr8{
    font-size: 16px;
}

